.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .dialog {

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: azure;
}